# ===== Spring Boot =====
meeting-minutes-api/target/
meeting-minutes-api/.mvn/
meeting-minutes-api/.classpath
meeting-minutes-api/.project
meeting-minutes-api/.settings/

# ===== Env & Secrets =====
.env
*.env
application-local.yml
application-local.properties

meeting-minutes-api/.env


# ===== React / Frontend ===== 
meeting-minutes-generator-frontend/node_modules/ 
meeting-minutes-generator-frontend/dist/ 
meeting-minutes-generator-frontend/build/ 
meeting-minutes-generator-frontend/.env

# ===== OS / Editor =====
.DS_Store
.idea/
.vscode/
